.faq {
  background: var(--gray-500);
  padding: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  & div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__icon {
    background: transparent;
    color: var(--gray-100);
    font-size: 1.5em;
  }
  & p {
    margin-top: 1.5rem;
  }
}
