:root {
  --primary: 210;
  --gray: 240;
  --primary-color: hsl(var(--primary), 100%, 50%);
  --primary-color-variant: hsl(var(--primary), 100%, 65%);
  --secondary-color: #ffb116;
  --gray-100: hsl(var(--gray), 47%, 94%);
  --gray-200: hsl(var(--gray), 26%, 75%);
  --gray-300: hsl(var(--gray), 24%, 64%);
  --gray-400: hsl(var(--gray), 16%, 41%);
  --gray-500: hsl(var(--gray), 44%, 25%);
  --gray-600: hsl(var(--gray), 48%, 15%);
  --container-lg: 80%;
  --container-md: 90%;
  --transition: all 0.5s ease;
}
