.notfound {
  &__container {
    text-align: center;
    padding-top: 5rem;
    h2 {
      margin-bottom: 2rem;
    }
  }
  @media screen and (max-width: 1023.98px) {
    &__container {
      padding-top: 0;
    }
  }
}
